<div class="main-content">
  <div class="container-fluid">

    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="LI">
        <app-life-insurance></app-life-insurance>

      </mat-tab>
      <mat-tab label="Health">
        <app-health></app-health>


      </mat-tab>
      <mat-tab label="Corporate">
        <app-corporate></app-corporate>
      </mat-tab>
      <mat-tab label="Vehicle">
        <app-vehicle></app-vehicle>

      </mat-tab>
      <mat-tab label="MF & Equity">
        <app-mf-equity></app-mf-equity>


      </mat-tab>
      <mat-tab label="OTHERS">
        <app-others></app-others>

      </mat-tab>

    </mat-tab-group>

    <!-- <div class="tab-button">
      <div class="tab-element" (click)="onGoToPage('life-insurance')">
        <p>LI</p>
      </div>
      <div class="tab-element" (click)="onGoToPage('health')">
        <p>Health</p>
      </div>
      <div class="tab-element" (click)="onGoToPage('corporate')">
        <p>Corporate</p>
      </div>
      <div class="tab-element" (click)="onGoToPage('vehicle')">
        <p>Vehicle</p>
      </div>
      <div class="tab-element" (click)="onGoToPage('mf-equity')">
        <p>MF & Equity</p>
      </div>
      <div class="tab-element" (click)="onGoToPage('others')">
        <p>Others</p>
      </div>
      
     
    </div> -->

    

  </div>
</div>